header {
  background-color:pink;
  color:blue;
  font-size: 23px;
  text-align: center;
}
img{
  width: 20%;
}
.cards{
  background: pink;
  width: 25%;
  border-radius: 2px 2px 2px;
  box-shadow: 2px 2px 2px blue;
  text-align: center;
  padding: 1px;
  margin: 10px;
}
.mainDiv{
  display: flex;
  justify-content: space-between;
}
.main {
  display: flex;
}
.leftDiv{
  width: 30%;
  background: #dda;
  box-shadow: 5px 5px 5px 5px blue;
}
.rightDiv{
  margin-left: 3%;
  padding: 1%;
  background-color: pink;
  box-shadow: 5px 5px 5px blue;
}
@media screen and (min-width:320px) and (max-width:480px){
  .mainDiv,.main{
    display: flex;
    flex-wrap: wrap;
  }
  .cards,.leftDiv,.rightDiv{
    display: grid;
    margin:1%;
    width: 300px;
  }
}
@media screen and (min-width:481px) and (max-width:820px){
  .mainDiv{
    display: flex;
    flex-wrap: wrap;
  }
  .cards{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
